.video-frame {
   display: inline-block;
   height: 480px;
   border-radius: 8px;
   margin-top: calc(var(--elementsGap) + 2px);
   position: relative;
   .video {
      height: 100%;
      position: relative;
      border-radius: 8px;
   }

   @media screen and (max-width: 1023px) {
      height: unset;
      width: 60%;
      .video {
         height: unset;
         width: 100%;
      }
   }
}

.preview {
   height: 100%;
   .video {
      height: 100%;
      width: 100%;
   }
   @media screen and (max-width: 1023px) {
      width: unset;
   }
}
