.video-frame {
   display: inline-block;
   height: 480px;
   border-radius: 8px;
   overflow: hidden;
   position: relative;

   background-color: black;
   .video-item {
      height: 100%;
      video,
      img {
         transition: opacity linear 0.1s;
         position: relative;

         height: 100%;
      }
   }

   @media screen and (max-width: 1023px) {
      height: unset;
      width: 60%;
      .video-item {
         video,
         img {
            border-radius: unset;
            width: 100%;
         }
         .temp-image {
            object-fit: contain;
         }
      }
   }
}

.video-frame.preview {
   height: 100%;
   border-radius: 0;
   @media screen and (max-width: 1023px) {
      width: unset;
   }
}
