.menu-wrapper {
   width: 361px;
   box-shadow: -2px 2px 10px rgba($color: #333, $alpha: 0.15);
   border-radius: 8px;
   z-index: 10;
   border-right: 1px solid rgba($color: #333, $alpha: 0.15);
   background-color: #fff;
   max-height: 60vh;
   overflow: auto;
}
.sort {
   max-width: 223px;
   overflow: unset;
}
.header {
   height: 50px;
   position: relative;
}

.header-icon {
   font-size: 1.4rem;
   padding: 0 5px;
   margin-left: 10px;
   line-height: 50px;
}
.header-title {
   position: absolute;
   font-size: 1.6rem;
   text-align: center;
   left: 50%;
   transform: translateX(-50%);
}
