@import "normalize.css";

:root {
   --text-color: #333;
   --hover-color: rgba(219, 218, 218, 0.3);
   --primary-color: rgb(254, 44, 85);
   --header-search-height: 46px;
   --default-font: "ProximaNova", sans-serif;
}

@font-face {
   font-family: ProximaNova;
   src: url("~/src/assets/fonts/Proxima-Nova-Regular.woff2");
   font-weight: 400;
}
@font-face {
   font-family: ProximaNova;
   src: url("~/src/assets/fonts/Proxima-Nova-Semibold.woff2");
   font-weight: 500;
}
@font-face {
   font-family: ProximaNova;
   src: url("~/src/assets/fonts/Proxima-Nova-Bold.woff2");
   font-weight: 600;
}
@font-face {
   font-family: SofiaPro;
   src: url("~/src/assets/fonts/sofiapro-semibold.otf");
   font-weight: 500;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
   font-size: 62.5%;
   font-family: "ProximaNova", sans-serif;
}
html *::-webkit-scrollbar {
   width: 8px;
}

/* Track */
html *::-webkit-scrollbar-track {
   background: #fff;
   // z-index: -1;
   // background-color: green;
}

/* Handle */
html *::-webkit-scrollbar-thumb {
   border-radius: 4px;
   background-color: rgba($color: #000, $alpha: 0.15);
   // z-index: -1;
}

/* Handle on hover */
html *::-webkit-scrollbar-thumb:hover {
   background: red;
}
// scroll bar

button,
input {
   border: none;
   outline: none;
}
a {
   text-decoration: none;
   color: currentColor;
}
.embed-icon {
   background-color: black;
}
.send-icon {
   background-color: rgb(254, 44, 85);
}
.facebook-icon {
   background-color: #4267b2;
}
.whatsapp-icon {
   background-color: #25d366;
}
.copy-icon {
   background-color: rgb(240, 35, 76);
}
.pinterest-icon {
   background-color: #ff2500;
}
.email-icon {
   background-color: #00ccff;
}
.twitter-icon {
   background-color: #00bfff;
}
.telegram-icon {
   background-color: #00bfff;
}

//tippy
.tippy-content {
   padding: 5px 7px;
   font-weight: 500;
   font-size: 1.6rem;
}
.active {
   color: var(--primary-color);
}
.seperate::before {
   content: "";
   position: absolute;
   top: 0;
   left: 8px;
   right: 8px;
   height: 1px;
   background-color: rgba($color: #333, $alpha: 0.1);
}
// player
.video-js {
   font-size: 16px !important;
   border-radius: 10px;
   margin-top: 10px !important;
}
.vjs-control-bar {
   background-color: transparent !important;
   bottom: 35px !important;
   justify-content: space-between;
}
.vjs-tech {
   border-radius: 8px;
}

.vjs-time-control,
.vjs-time-control,
.vjs-progress-control,
.vjs-fullscreen-control {
   display: none !important;
}
