:root {
   --elementsGap: 8px;
}

.item-container {
   display: flex;
   padding-top: 20px;
}
.main-container {
   flex: 1;
}
.content-header {
   display: flex;
}
.content-text {
   // flex: 1;
}
.avatarframe-main-container {
   height: 56px;
   width: 56px;
}
.nick-name {
   font-size: 1.8rem;
   font-weight: 600;
   margin-right: 5px;
   cursor: pointer;
   &:hover {
      text-decoration: underline;
   }
}
.full-name {
   font-size: 1.4rem;
}
.check-icon {
   margin-left: 5px;
   color: rgb(32, 213, 236);
}
.follow-btn {
   height: 28px;
   margin: 0 0 0 20px;
}
.content-desc {
   font-size: 1.6rem;
   margin-top: var(--elementsGap);
   span {
      font-weight: 600;
      margin-left: 5px;
   }
   margin-bottom: var(--elementsGap);
}
.music-info {
   font-size: 1.5rem;
   font-weight: 600;
   span {
      margin-right: 5px;
   }
}
.video {
   margin-top: calc(var(--elementsGap) + 2px);
   width: auto;
   border-radius: 8px;
   height: 95vh;
}
