@import "normalize.css";

:root {
   --text-color: #333;
   --hover-color: rgba(219, 218, 218, 0.3);
   --primary-color: rgb(254, 44, 85);
   --header-search-height: 46px;
}

@font-face {
   font-family: ProximaNova;
   src: url("~/src/assets/fonts/Proxima-Nova-Regular.woff2");
   font-weight: 400;
}
@font-face {
   font-family: ProximaNova;
   src: url("~/src/assets/fonts/Proxima-Nova-Semibold.woff2");
   font-weight: 500;
}
@font-face {
   font-family: ProximaNova;
   src: url("~/src/assets/fonts/Proxima-Nova-Bold.woff2");
   font-weight: 600;
}
@font-face {
   font-family: SofiaPro;
   src: url("~/src/assets/fonts/sofiapro-semibold.otf");
   font-weight: 500;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
   font-size: 62.5% !important;
   font-family: "ProximaNova", sans-serif !important;
}
button,
input {
   border: none;
   outline: none;
}
a[href] {
   text-decoration: none;
   color: currentColor;
}

//tippy
.tippy-content {
   padding: 5px 7px;
   font-weight: 500;
   font-size: 1.6rem;
}
