@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
:root {
   --text-color: #333;
   --hover-color: rgb(246, 246, 246);
   --primary-color: rgb(254, 44, 85);
   --header-search-height: 46px;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
   font-size: 62.5% !important;
   font-family: "Poppins", sans-serif !important;
}
button,
input {
   border: none;
   outline: none;
}
a[href] {
   text-decoration: none;
}
