@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
   --black: #000;
   --text-color: #333;
   --primary-color: rgb(254, 44, 85);
   --header-search-height: 46px;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
   font-size: 62.5%;
   font-family: "Montserrat", sans-serif;
}
button,
input {
   border: none;
   outline: none;
}
a[href] {
   color: var(--text-color);
   text-decoration: none;
}
.primary {
   font-weight: 500;
   color: #fff;
   background-color: rgb(254, 44, 85);
}
