.wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 60px;
   // background-color: #222;
}
.Container {
   // display: flex;
   min-height: calc(100vh - 60px);
   width: 1150px;
   padding: 5px 5px;
   @media screen and (max-width: 1023px) {
      width: 100%;
   }
}
.Content {
   &.ovf-hidden {
      height: calc(100vh - 70px);
      overflow: hidden;
   }
   // height: auto;
   min-width: 692px;
   max-width: 692px;
   position: relative;
   left: 456px;
   @media screen and (max-width: 1023px) {
      left: 72px;
      max-width: calc(100% - 72px);
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   @media screen and (max-width: 550px) {
      left: unset;
      max-width: 100%;
      min-width: 100%;
   }
}
.wrapper.dark {
   background-color: #333;
}
