.wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 60px;
}
.Container {
   display: flex;
   width: 1150px;
   padding: 5px 5px;
}
.Content {
   height: 2000px;
   width: 692px;
   max-width: 692px;
   position: relative;
   left: 456px;
}
