@mixin box-shadow {
   box-shadow: 2px 2px 5px rgba($color: #000, $alpha: 0.5);
}
@mixin button-position {
   position: absolute;
   bottom: 45px;
}
@mixin player-btn {

   font-size: 2.5rem;
   color: #fff;
   padding: 5px;
   background-color: transparent;
   cursor: pointer;
}

.overlay {
   position: absolute;
   bottom: 0;
   height: 100%;
   width: 100%;

   &:hover {
      .time-slider {
         opacity: 1;
         visibility: visible;
      }
   }
   
   &.preview {
      bottom: 70px;
      .time-text {
         span {
            font-size: 1.5rem;
         }
      }
      .time-text-wrapper {
         width: 95px;
      }
      .cta {
         .play-pause-btn {
            font-size: 6rem;
            left: 50%;
            top: 60%;
            bottom: unset;
            transform: translate(-50%, -50%);
            height: 80px;
            width: 80px;
         }
         .pause-btn {
            display: none;
         }

      }
   }
}

.cta {
   .play-pause-btn {
      @include button-position();
      @include player-btn();
      left: 20px;
   }
   .volume-control-wrapper {
      @include button-position();
      right: 20px;
   }
}
.volume-btn {
   @include player-btn();
}

.time-slider {
   opacity: 0;
   visibility: hidden;

   transition: opacity 0.15s linear;

   display: flex;
   align-items: center;
   height: 12px;
   position: absolute;
   left: 10px;
   right: 10px;
   bottom: 14px;
   &:hover .video-duration {
      height: 6px;
   }
}

@mixin for-hover-better {
   content: "";
   position: absolute;
   background-color: transparent;
   left: 0;
   right: 0;
}
.video-duration {
   @include box-shadow();
   flex: 1;
   height: 4px;
   position: relative;
   background-color: #fff;
   border-radius: 99px;

   cursor: pointer;
   &::before {
      @include for-hover-better();
      bottom: 100%;
      height: 15px;
   }
   &::after {
      @include for-hover-better();
      top: 100%;
      height: 15px;
   }
}
.time-current {
   width: 0;
   height: 100%;
   z-index: 5;
   background-color: var(--primary-color);
   border-radius: 99px;
}
.time-text-wrapper {
   width: 85px;
   padding-left: 10px;
   margin-left: auto;
   text-align: right;
   padding-top: 2px;
}
.time-text {
   display: flex;
   justify-content: space-between;
   text-align: right;

   span {
      font-size: 1.3rem;
      font-weight: 500;
      color: #fff;
      text-shadow: 1px 0 2px #000;
   }
}
.time-current-wrapper {
   width: 35px;
   text-align: left;
   flex-shrink: 0;
}

.volume-slider {
   height: 80px;
   padding: 8px 0;
   width: 18px;
   border-radius: 10px;
   background-color: rgba($color: #000, $alpha: 0.25);
   display: flex;
   justify-content: center;
   transform: rotate(180deg);
   &:hover {
      .volume-duration {
         width: 4px;
      }
      .volume-current {
         &::before {
            left: calc(50% + 1px);
         }
      }
   }
}

@mixin volume-duration-hover {
   content: "";
   position: absolute;
   top: 0;
   bottom: 0;
   width: 20px;
   background-color: transparent;
}
.volume-duration {
   position: relative;
   height: 100%;
   background-color: #ccc;
   width: 2px;
   border-radius: 4px;
   cursor: pointer;
   &::before {
      @include volume-duration-hover();
      right: 100%;
   }
   &::after {
      @include volume-duration-hover();
      left: 100%;
   }
}

.volume-current {
   height: 50%;
   width: 100%;
   background-color: var(--primary-color);
   position: relative;
   &::before {
      content: "";
      height: 10px;
      width: 10px;
      position: absolute;
      border-radius: 50%;
      background-color: #fff;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
   }
}
