ul {
    li {
        list-style: none;
        a {
            text-decoration: none;
            color: #999;
            &:hover {
                color: #333;
            }
        }
    }
}
.disable {
    color: red;
}
.header {
    color: green;
}
