:root {
   --btn-size: 45px;
   --btn-font-size: 1.8rem;
}
@media screen and (max-width: 549px){
   :root {
      --btn-size: 35px;   
      --btn-font-size: 1.5rem;
   }
}

@mixin button {
   background: rgba(84, 84, 84, 0.5);
   color: #fff;
   font-size: var(--btn-font-size);
   cursor: pointer;
   transition: background-color linear 0.2s;
   height: var(--btn-size);
   min-width: var(--btn-size);
   border-radius: 50%;
   &:hover {
      background-color: rgba(84, 84, 84, 0.3);
   }   
}
.btn {
   @include button();
}
.container {
   position: fixed;
   inset: 0;
   display: flex;
   z-index: 11;
}

.left {
   width: 60%;
   position: relative;
   background-color: rgba($color: #000000, $alpha: 1);
   @media  screen and (max-width: 1023px) {
      width: 100%;
   }

}
.right {
   width: 40%;
   position: relative;
   background-color: #fff;
   .top {
      padding: 25px;
      .content-desc {
         font-size: 1.6rem;
         margin-top: 20px;
         display: flex;
         flex-wrap: wrap;
         span {
            font-weight: 600;
            margin-left: 5px;
         }
         margin-bottom: var(--elementsGap);
      }
      .music-info {
         display: inline-block;
         margin-top: .8rem;
         font-size: 1.6rem;
         font-weight: 600;
         span {
            margin-right: 10px;
         }
      }
   }

   .bottom {
      padding: 25px;
      position: relative;
      display: flex;
      flex-direction: column;
      overflow: auto;
      gap: 2rem;
      width: 100%;
      background-color: #f1f1f1;
      height: 100%;
      border-top: 1px solid #ccc;
   }
}
.video-overlay {
   position: absolute;
   width: 10%;
   height: 10%;
   top: 50%;
   left: 50%;
   background-size: cover;
   background-position: center;
   filter: blur(2px);
   opacity: 0.3;
   scale: 11;
}
.video-container {
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.header {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   height: 85px;
   padding: 0 30px;
   z-index: 10;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: transparent;
  
   .close-btn {
      height: var(--btn-size);
      width: var(--btn-size);
      background-color: rgba(84, 84, 84, 0.5);
   }
   .report-btn {
      height: var(--btn-size);
      border-radius: 99px;
      padding: 0 20px;
      svg {
         margin-right: 10px;
      }
   }
}
.index-control {
   position: absolute;
   right: 30px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   top: 50%;
   transform: translateY(-50%);
   z-index: 1;
}
.volume-slider-wrapper {
   @include button();

   position: absolute;
   right: 30px;
   bottom: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.disable {
   opacity: .3;
   pointer-events: none;
   cursor: default;
}