.wrapper {
   height: 60px;
   width: 100vw;
   background-color: #fff;

   box-shadow: 0px 1px 1px rgba(0 0 0 /12%);
   display: flex;
   justify-content: center;

   position: fixed;
   top: 0;
   left: 0;
}
.inner {
   height: 100%;
   width: 1150px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}
.logo {
   border: none;
   height: unset;
   &:hover {
      background-color: unset;
   }
}
.cta {
   display: flex;
   align-items: center;
   user-select: none;
}
// .cta-user {
//    background-color: #f1f1f1;
//    border-radius: 99px;
// }
.lable-text {
   font-size: 1.4rem;
   font-weight: 500;
   color: rgba(22, 24, 35, 0.5);
   display: inline-block;
   padding: 7px 0 7px 12px;
}
.more-icon {
   padding: 4px 9px;
   font-size: 1.8rem;
   margin-left: 10px;
   background-color: transparent;
   cursor: pointer;
}

//header menu

.menu-header {
   background-color: #fff;
   width: 100%;
   position: fixed;
}

.header-icon {
   font-size: 1.4rem;
   padding: 5px 5px;
   margin-left: 18px;
   line-height: 50px;
}
.header-title {
   position: absolute;
   font-size: 1.6rem;
   font-weight: 600;
   text-align: center;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}
