.primary {
   color: var(--primary-color);
}
.item {
   list-style: none;
   text-align: left;
   height: 42px;
   display: flex;
   align-items: center;
   padding: 0 15px;
   a {
      font-size: 1.6rem;
      font-weight: 600;
      user-select: none;
   }
   &:hover {
      background-color: var(--hover-color);
   }
   .status {
      margin-left: auto;
   }
}
.item .popup-icon {
   text-align: center;
   display: inline-block;
   margin-right: 10px;
   min-width: 20px;
}
.sidebar {
   padding: 12px 13px 12px 0px;
   a {
      display: flex;
      align-items: center;
      span {
         padding: 5px;
         height: 32px;
         width: 32px;
      }
      p {
         font-weight: 600;
         font-size: 1.8rem;
         margin-left: 15px;
      }
   }
   &:last-child span {
      padding: 0;
   }
}
.sidebar .popup-icon {
   text-align: center;
   display: inline-block;
   margin-right: 10px;
   min-width: 35px;
}
.seperate {
   border-top: 1px solid rgba($color: #000000, $alpha: 0.15);
}
