.btn {
   font-size: 2.2rem;
   color: #fff;
   cursor: pointer;
}
.play-btn,
.volume-icon {
   background-color: transparent;
   position: absolute;
   bottom: 45px;
   left: 20px;
}
.volume-icon {
   left: unset;
   right: 20px;
}
.time-slider {
   display: flex;
   align-items: center;
   height: 12px;
   position: absolute;
   left: 10px;
   right: 10px;
   bottom: 14px;
   &:hover .video-duration {
      height: 4px;
   }
}
.video-duration {
   width: 180px;
   height: 2px;

   background-color: #ccc;
   border-radius: 5px;
   overflow: hidden;
   cursor: pointer;
   // border: 1px solid transparent;
}
.time-current {
   width: 0;
   height: 100%;
   background-color: var(--primary-color);
   z-index: 5;
}
.time-text {
   margin-left: auto;
   span {
      font-size: 1rem;
      color: #fff;
   }
}

//volume
.volume-slider {
   height: 60px;
   width: 18px;
   border-radius: 10px;
   background-color: rgba($color: #000, $alpha: 0.25);
   display: flex;
   justify-content: center;
   position: relative;
   transform: rotate(180deg);
   &:hover .volume-duration {
      width: 4px;
   }
}

.volume-duration {
   position: absolute;
   top: 8px;
   bottom: 8px;
   background-color: #ccc;
   width: 2px;
   border-radius: 4px;
   // overflow: hidden;
}

.volume-current {
   height: 50%;
   width: 100%;
   background-color: var(--primary-color);
   position: relative;
   &::before {
      content: "";
      height: 10px;
      width: 10px;
      position: absolute;
      border-radius: 50%;
      background-color: #fff;
      bottom: 0;
      // top: 50%;
      left: 50%;
      transform: translate(-50%, 0);
   }
}
