.video-frame {
   display: inline-block;
   height: 480px;
   border-radius: 8px;
   margin-top: calc(var(--elementsGap) + 2px);
   position: relative;
   .video {
      height: 100%;
      position: relative;
      border-radius: 8px;
   }
}
