.video-action {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   margin-left: 15px;
   gap: 20px;
   
   button {
      display: flex;
      align-items: center;
      background-color: transparent;
      gap: 10px;
      .icon {
         height: 48px;
         width: 48px;
         background-color: #f1f1f1;
         border-radius: 50%;
         padding: 15px;
         svg {
            height: 100%;
            width: 100%;
         }
      }
      .number {
         font-size: 1.4rem;
      }
   }
   button.liked,
   button:hover {
      color: #fe2c55;
   }

   span {
      font-size: 1.2rem;
      font-weight: 600;
      text-align: center;
   }
   &.end {
      flex-direction: row;
      justify-content: flex-start;
      margin-left: 0;
      margin-top: 3rem;
      button {
         .icon {
            height: 32px;
            width: 32px;
            padding: 8px;
         }
      }
   }
}


.share-item {
   span {
      color: #fff;
      height: 28px;
      width: 28px;
      border-radius: 50%;
      display: inline-flex !important;
      align-items: center;
      justify-content: center;
      transform: translateY(2px);
   }
}
.more-share-btn {
   width: 100%;
   padding: 5px 0;
   text-align: center;
   font-size: 1.6rem;
}
